.map
{
    height: 600px;
    width: 68%;
    margin-right: 2%;
}

.content
{
    display: flex;
}

.slider
{
    height: 500px;
    width: 100%;
    margin-bottom: 15px;
}

.popup
{
    width: 30%;
}


.slide
{
    height: 500px;
    width: 100%;
    list-style-type: none;
    background-size: contain;
}